# abseil-cpp
aiobotocore
aiohttp
aioitertools
aiosignal
altair
ambient-api
anyio
appnope
argon2-cffi
argon2-cffi-bindings
# arrow-cpp
asttokens
async-timeout
attrs
aws-c-common
aws-c-event-stream
aws-checksums
aws-sdk-cpp
backcall
beautifulsoup4
black
blas
bleach
blinker
boost-cpp
botocore
bottleneck
brotli
brotli-bin
brotlipy
bzip2
c-ares
ca-certificates
cachetools
certifi
cffi
charset-normalizer
click
comm
commonmark
cryptography
dataclasses
debugpy
decorator
defusedxml
entrypoints
executing
flake8
flit-core
freetype
frozenlist
fsspec
future
gflags
giflib
gitdb
gitpython
glog
grpc-cpp
icu
idna
importlib-metadata
intel-openmp
ipykernel
ipython
ipython_genutils
ipywidgets
jedi
jinja2
jmespath
jpeg
jsonschema
jupyter_client
jupyter_core
jupyter_server
jupyterlab_pygments
jupyterlab_widgets
krb5
lcms2
lerc
libboost
libbrotlicommon
libbrotlidec
libbrotlienc
libcurl
libcxx
libdeflate
libedit
libev
libevent
libffi
libiconv
libnghttp2
libpng
libprotobuf
libsodium
libssh2
libthrift
libtiff
libwebp
libwebp-base
libxml2
libxslt
lxml
lz4-c
markupsafe
matplotlib-inline
mccabe
mistune
mkl
mkl-service
mkl_fft
mkl_random
multidict
mypy_extensions
nbclassic
nbclient
nbconvert
nbformat
ncurses
nest-asyncio
notebook
notebook-shim
numexpr
numpy
numpy-base
openssl
orc
packaging
pandas
pandocfilters
parso
pathspec
pexpect
pickleshare
pillow
pip
platformdirs
plotly
prometheus_client
prompt-toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pycodestyle
pycparser
pydeck
pyflakes
pygments
pympler
pyopenssl
pyrsistent
pysocks
python
python-dateutil
python-fastjsonschema
pytz
pytz-deprecation-shim
pyzmq
re2
readline
requests
rich
s3fs
semver
send2trash
setuptools
six
smmap
snappy
sniffio
soupsieve
sqlite
stack_data
streamlit
tenacity
terminado
tinycss2
tk
toml
tomli
toolz
tornado
traitlets
typing-extensions
typing_extensions
tzdata
tzlocal
urllib3
utf8proc
validators
wcwidth
webencodings
websocket-client
wheel
widgetsnbextension
wrapt
xz
yarl
zeromq
zipp
zlib
zstd
